
*, *:before, *:after {
    box-sizing: border-box;
}

div#nbdime-root {
    padding: 0;
    margin: 0;
    background-color: white;
}

ul.nbdime-cells {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.nbdime-cells > li {
    display: block;
    border: solid black thin;
    padding: 1em;
    margin: 1em;
    background-color: #eee;
}


.nbdime-cellrow {
    padding: 0;
    margin: 0;
}
.nbdime-cellrow > span {
    display: inline-block;
}


.nbdime-cell {
    /* Without this line, mergeview covers the space it should, without it, centered codemirror works instead. */
    display: inline-block;

    padding: 0;
    border: solid black thin;
}

.nbdiff-cell-header {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
    border: solid black thin;
}

/* Alternative for showing single cell when cells are equal */
.nbdiff-cell-equal-content {
    width: 50%;
    margin: 0;
}
.nbdiff-cell-equal-left {
    width: 25%;
    margin: 0;
}
.nbdiff-cell-equal-right {
    width: 25%;
    margin: 0;
}
/* Alternative for showing duplicated cell when cells are equal */
.nbdiff-cell-equal {
    width: 50%;
    margin: 0;
}

.nbdiff-cell-twoway {
    width: 100%;
    margin: 0;
}

/* deleted and added always used side-by-side */
.nbdiff-cell-deleted {
    width: 50%;
    margin: 0;
}
.nbdiff-cell-added {
    width: 50%;
    margin: 0;
}


/* Note that merge cells sum up to 99% */

.nbmerge-cell-header {
    width: 33%;
    margin: 0;
}

/* Alternative for showing single cell when cells are equal */
.nbmerge-cell-equal-singular {
    width: 33%;
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 33%;
    margin-right: 33%;
}
/* Alternative for showing duplicated cell when cells are equal */
.nbmerge-cell-equal {
    width: 33%;
    margin: 0;
}

.nbmerge-cell-threeway {
    width: 99%;
    margin: 0;
}

/* twoway and deleted always used side-by-side */
.nbmerge-cell-twoway {
    width: 66%;
    margin: 0;
}
.nbmerge-cell-deleted {
    width: 33%;
    margin: 0;
}


/* CodeMirror customization: TODO: Use css from Jupyter Notebook. */

.CodeMirror {
    line-height: 1.2;
}

.CodeMirror-merge-2pane {
    margin: 0;
    width: 100%;
}
