.nbdime-root .cm-merge-pane {
  background-color: var(--jp-cell-editor-background);
}

.nbdime-root .jp-Mergeview-root {
  border: var(--codemirror-border);
}

.nbdime-root .cm-merge-1pane {
  display: grid;
  /* editor */
  grid-template-columns: 100%;
  grid-auto-rows: minmax(18px, auto);
}

.nbdime-root .cm-merge-2pane {
  display: grid;
  /* editor | gap | editor */
  grid-template-columns: 47% 6% 47%;
  grid-auto-rows: minmax(18px, auto);
}

.nbdime-root .cm-merge-2pane > div:first-child {
  grid-column: 1;
}

.nbdime-root .cm-merge-2pane > div:last-child {
  grid-column: 3;
}

.nbdime-root .cm-merge-3pane,
.nbdime-root .cm-merge-4pane {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(18px, auto);
  gap: var(--jp-border-width);
  background-color: var(--jp-cell-editor-border-color);
}

.nbdime-root .cm-merge-left-editor {
  grid-column: 1;
  grid-row: 1;
}

.nbdime-root .cm-central-editor {
  grid-column: 2;
  grid-row: 1;
}

.nbdime-root .cm-merge-right-editor {
  grid-column: 3;
  grid-row: 1;
}

.nbdime-root .cm-merge-4pane > .cm-merge-editor {
  grid-column: 1/4;
  grid-row: 2;
}

.nbdime-root .cm-merge-spacer {
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 5px,
    rgba(255, 255, 255, 0.5) 5px,
    rgba(255, 255, 255, 0.5) 10px
  );
}

.nbdime-root .cm-merge-gap {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  z-index: 2;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border-left: var(--codemirror-border);
  border-right: var(--codemirror-border);
  color: var(--jp-ui-font-color2);
  background: var(--jp-layout-color2);
  user-select: none;
}

.nbdime-root .cm-merge-scrolllock {
  cursor: pointer;
  line-height: 1;
}

.nbdime-root .cm-merge-pane > .cm-editor {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  width: 100%;
  background-color: transparent;
}

.nbdime-root .cm-merge-pane-rightmost {
  position: absolute;
  right: 0px;
  z-index: 1;
}

.nbdime-root .cm-merge-pane-unchanged {
  width: 100%;
}

.nbdime-root .cm-merge-r-deleted,
.cm-l-deleted,
.cm-merge-m-deleted {
  background-color: var(--jp-diff-deleted-color2);
}

.nbdime-root .cm-gutter {
  cursor: default;
}
