
/*
.nbdime-root .CodeMirror-merge {
  position: relative;
  white-space: pre;*/
  /* style as jp-InputArea-editor: */
  /*border: var(--codemirror-border);
  border-radius: 0px;
  background: var(--jp-cell-editor-background);
}

.nbdime-root .CodeMirror.cm-s-jupyter {
  background: transparent;
}

.nbdime-root .CodeMirror-merge,
.CodeMirror-merge .CodeMirror {
  height: auto;
}

.nbdime-root .CodeMirror-merge-4pane .CodeMirror-merge-pane-deleted {
  display: none;
}

/* Reintroduced
.nbdime-root .CodeMirror-merge-pane-unchanged { width: 100%; }

.nbdime-root .CodeMirror-merge-1pane .CodeMirror-merge-gap { width: 6%; }
.nbdime-root .CodeMirror-merge-2pane .CodeMirror-merge-pane { width: 47%; }
.nbdime-root .CodeMirror-merge-2pane .CodeMirror-merge-gap { width: 6%; }
.nbdime-root .CodeMirror-merge-3pane .CodeMirror-merge-pane { width: 31%; }
.nbdime-root .CodeMirror-merge-3pane .CodeMirror-merge-gap { width: 3.5%; }


*/

.nbdime-root .cm-merge-collapsed-widget:before {
  content: "(...)";
}
.nbdime-root .cm-merge-collapsed-widget {
  cursor: pointer;
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color2);
  border: 1px solid var(--jp-border-color1);
  font-size: 90%;
  padding: 0 3px;
  border-radius: 4px;
}

.nbdime-root .cm-merge-collapsed-line .cm-gutter-elt {
  display: none;
}

.cm-merge-grid-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.cm-merge-left-editor {
  grid-column: 1;
  grid-row: 1;
}

.cm-central-editor {
  grid-column: 2;
  grid-row: 1;
}

.cm-merge-right-editor {
  grid-column: 3;
  grid-row: 1;
}

.cm-merge-editor {
  grid-column: 1/4;
  grid-row: 2;
}

.cm-diff-grid-panel {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.cm-diff-left-editor {
  grid-column: 1;
  grid-row: 1;
}

.cm-diff-right-editor {
  grid-column: 2;
  grid-row: 1;
}

.nbdime-root .cm-merge-spacer {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,.5) 5px, rgba(255,255,255,.5) 10px);
}

.cm-merge-gap {
  z-index: 2;
  display: inline-block;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  border-left: var(--codemirror-border);
  border-right: var(--codemirror-border);
  position: absolute;
  color: var(--jp-ui-font-color2);
  background: var(--jp-layout-color2);
}

.cm-merge-scrolllock-wrap {
  position: absolute;
  bottom: 0; left: 50%;
}
.cm-merge-scrolllock {
  position: relative;
  left: -50%;
  cursor: pointer;
  line-height: 1;
}

.nbdime-root .cm-merge-pane {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  width: 100%;
}
.nbdime-root .cm-merge-pane-rightmost {
  position: absolute;
  right: 0px;
  z-index: 1;
}

.nbdime-root .cm-merge-pane-unchanged {
  width: 100%; }


.nbdime-root .cm-merge-r-deleted, .cm-l-deleted, .cm-merge-m-deleted {
  background-color: initial;
  color: #b00
}
.cm-gutter {
  cursor: default;
}