
.nbdime-root .CodeMirror-merge {
  position: relative;
  white-space: pre;
  /* style as jp-InputArea-editor: */
  border: var(--codemirror-border);
  border-radius: 0px;
  background: var(--jp-cell-editor-background);
}

.nbdime-root .CodeMirror.cm-s-jupyter {
  background: transparent;
}

.nbdime-root .CodeMirror-merge, .CodeMirror-merge .CodeMirror {
  height: auto;
}

.nbdime-root .CodeMirror-merge-4pane .CodeMirror-merge-pane-deleted {
  display: none;
}

.nbdime-root .CodeMirror-merge-pane-unchanged { width: 100%; }
.nbdime-root .CodeMirror-merge-1pane .CodeMirror-merge-gap { width: 6%; }
.nbdime-root .CodeMirror-merge-2pane .CodeMirror-merge-pane { width: 47%; }
.nbdime-root .CodeMirror-merge-2pane .CodeMirror-merge-gap { width: 6%; }
.nbdime-root .CodeMirror-merge-3pane .CodeMirror-merge-pane { width: 31%; }
.nbdime-root .CodeMirror-merge-3pane .CodeMirror-merge-gap { width: 3.5%; }

.nbdime-root .CodeMirror-merge-pane {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  width: 100%;
}
.nbdime-root .CodeMirror-merge-pane-rightmost {
  position: absolute;
  right: 0px;
  z-index: 1;
}

.nbdime-root .p-Widget.CodeMirror-merge-gap {
  z-index: 2;
  display: inline-block;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  border-left: var(--codemirror-border);
  border-right: var(--codemirror-border);
  position: absolute;
  color: var(--jp-ui-font-color2);
  background: var(--jp-layout-color2);
}

.nbdime-root .CodeMirror-merge-scrolllock-wrap {
  position: absolute;
  bottom: 0; left: 50%;
}
.nbdime-root .CodeMirror-merge-scrolllock {
  position: relative;
  left: -50%;
  cursor: pointer;
  line-height: 1;
}

.nbdime-root .CodeMirror-merge-r-inserted, .CodeMirror-merge-l-inserted {
    background-color: var(--jp-diff-added-color1);
}

.nbdime-root .CodeMirror-merge-r-deleted, .CodeMirror-merge-l-deleted {
    background-color: var(--jp-diff-deleted-color1);
}

.nbdime-root .CodeMirror-merge-collapsed-widget:before {
  content: "(...)";
}
.nbdime-root .CodeMirror-merge-collapsed-widget {
  cursor: pointer;
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color2);
  border: 1px solid var(--jp-border-color1);
  font-size: 90%;
  padding: 0 3px;
  border-radius: 4px;
}
.nbdime-root .CodeMirror-merge-collapsed-line .CodeMirror-gutter-elt { display: none; }

.nbdime-root .CodeMirror-merge-spacer {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,.5) 5px, rgba(255,255,255,.5) 10px);
}
