


.jp-Notebook-merge .jp-Metadata-diff {
  margin-bottom: 20px;
}

.jp-Notebook-merge .jp-Metadata-diff .jp-CollapsiblePanel {
  border: solid black thin;
}

.jp-Notebook-merge .jp-Cell-merge {
  margin-bottom: 20px;
  background-color: var(--jp-layout-color1);
}

.jp-Notebook-merge .CodeMirror-merge-pane-local,
.jp-Notebook-merge .CodeMirror-merge-pane-remote,
.jp-Notebook-merge .CodeMirror-merge-pane-base:not(.CodeMirror-merge-pane-unchanged):not(.CodeMirror-merge-pane-deleted):not(.CodeMirror-merge-pane-added) {
  width: 33%;
}

.jp-Notebook-merge .CodeMirror-merge-pane-final {
  width: 100%;
  border-top: var(--codemirror-border);
}

.jp-Notebook-merge .jp-Output-result img {
  max-width: 100%;
}

.jp-Notebook-merge .jp-Merge-cellHeader {
  display: flex;
  background-color: var(--codemirror-gutter-background);
  border-top: solid #ccc 1px;
}

.jp-Notebook-merge .jp-Merge-cellHeader > .p-Widget {
  margin-right: .5em;
}

.jp-Notebook-merge .jp-Merge-cellHeader-title {
  flex-grow: 1;
}

.jp-Notebook-merge .jp-DragPanel-dragHandle {
  height: 18px;
  width: 12px;
}

.jp-Merge-dragimage-output {
  background-color: var(--jp-layout-color1);
  border: solid gray thin;
  max-width: 33%;
}

.jp-Cell-merge.p-mod-drag-image {
  background-color: var(--jp-layout-color1);
}

.jp-Cell-merge.p-mod-drag-image .jp-Merge-cellHeader {
  display: none;
}


.jp-Merge-output-drop-delete {
  border: 3px dashed var(--jp-nbdime-output-color2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.jp-Notebook-merge .CodeMirror-merge-pane-deleted,
.jp-Notebook-merge .CodeMirror-merge-pane-added {
  width: 100%;
}

.jp-Notebook-merge .CodeMirror-merge-spacer { background-color: #eee; }

.jp-Notebook-merge .CodeMirror-merge-r-chunk { background-color: var(--jp-merge-remote-color2); }
.jp-Notebook-merge .CodeMirror-merge-r-chunk-start,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-start-remote { border-top: 1px solid var(--jp-merge-remote-color1); }
.jp-Notebook-merge .CodeMirror-merge-r-chunk-end,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-remote { border-bottom: 1px solid var(--jp-merge-remote-color1); }
.jp-Notebook-merge .CodeMirror-merge-r-connect { fill: var(--jp-merge-remote-color2); stroke: var(--jp-merge-remote-color1); stroke-width: 1px; }
.jp-Notebook-merge .CodeMirror-line .CodeMirror-merge-r-inserted { background-color: var(--jp-merge-remote-color1); }

.jp-Notebook-merge .CodeMirror-merge-r-chunk-end-empty + .CodeMirror-linewidget .CodeMirror-merge-spacer,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-remote-empty + .CodeMirror-linewidget .CodeMirror-merge-spacer {
  border-bottom: 1px solid var(--jp-merge-remote-color1);
  background-color: var(--jp-merge-remote-color3);
}

.jp-Notebook-merge .CodeMirror-merge-l-chunk { background-color: var(--jp-merge-local-color2); }
.jp-Notebook-merge .CodeMirror-merge-l-chunk-start,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-start-local { border-top: 1px solid var(--jp-merge-local-color1); }
.jp-Notebook-merge .CodeMirror-merge-l-chunk-end,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-local { border-bottom: 1px solid var(--jp-merge-local-color1); }
.jp-Notebook-merge .CodeMirror-merge-l-connect { fill: var(--jp-merge-local-color2); stroke: var(--jp-merge-local-color1); stroke-width: 1px; }
.jp-Notebook-merge .CodeMirror-line .CodeMirror-merge-l-inserted { background-color: var(--jp-merge-local-color1) }

.jp-Notebook-merge .CodeMirror-merge-l-chunk-end-empty + .CodeMirror-linewidget .CodeMirror-merge-spacer,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-local-empty + .CodeMirror-linewidget .CodeMirror-merge-spacer {
  border-bottom: 1px solid var(--jp-merge-local-color1);
  background-color: var(--jp-merge-local-color3);
}


.jp-Notebook-merge .CodeMirror-merge-l-chunk.CodeMirror-merge-r-chunk { background: var(--jp-merge-both-color2); }
.jp-Notebook-merge .CodeMirror-merge-l-chunk-start.CodeMirror-merge-r-chunk-start { border-top: 1px solid var(--jp-merge-both-color1); }
.jp-Notebook-merge .CodeMirror-merge-l-chunk-end.CodeMirror-merge-r-chunk-end { border-bottom: 1px solid var(--jp-merge-both-color1); }

.jp-Notebook-merge .CodeMirror-merge-l-chunk-end-empty.CodeMirror-merge-r-chunk-end-empty + .CodeMirror-linewidget .CodeMirror-merge-spacer,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-remote-empty.CodeMirror-merge-m-chunk-end-local-empty + .CodeMirror-linewidget .CodeMirror-merge-spacer {
  border-bottom: 1px solid var(--jp-merge-both-color1);
  background-color: var(--jp-merge-both-color2);
}

.jp-Notebook-merge .CodeMirror-merge-r-chunk-end-empty,
.jp-Notebook-merge .CodeMirror-merge-l-chunk-end-empty,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-empty,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-either-empty,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-remote-empty,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-local-empty,
.jp-Notebook-merge .CodeMirror pre.CodeMirror-line {
  z-index: 3;
}


.jp-Notebook-merge .CodeMirror-merge-m-chunk-start-either { border-top: 1px solid var(--jp-merge-either-color1); }
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-either { border-bottom: 1px solid var(--jp-merge-either-color1); }

.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-either-empty + .CodeMirror-linewidget .CodeMirror-merge-spacer {
  border-bottom: 1px solid var(--jp-merge-either-color1);
  background-color: var(--jp-merge-either-color2);
}

.jp-Notebook-merge .CodeMirror-merge-pane-base .CodeMirror-line .CodeMirror-merge-m-deleted,
.jp-Notebook-merge .CodeMirror-merge-pane-base .CodeMirror-line .CodeMirror-merge-l-deleted,
.jp-Notebook-merge .CodeMirror-merge-pane-base .CodeMirror-line .CodeMirror-merge-r-deleted {
  background-color: initial;
  color: #b00
}

.jp-Notebook-merge .CodeMirror-gutter-wrapper {
  top: 0;
  bottom: 0;
}

.jp-Notebook-merge .CodeMirror-linenumber {
  bottom: 0;
}

.jp-Notebook-merge .jp-Merge-oneway-local,
.jp-Notebook-merge .jp-Merge-oneway-remote {
  width: 75%;
}

.jp-Notebook-merge .jp-Merge-oneway-remote {
  margin-left: 25%;
}

.jp-Notebook-merge .jp-Merge-oneway-local .CodeMirror {
  background-color: var(--jp-merge-local-color2);
}

.jp-Notebook-merge .jp-Merge-oneway-remote .CodeMirror {
  background-color: var(--jp-merge-remote-color2);
}

.jp-Notebook-merge .jp-Merge-gutter-picker {
  width: 16px;
  text-align: right;
}

.jp-Notebook-merge .jp-Merge-gutter-conflict {
  width: 16px;
  color: #b00;
  text-align: right;
}

.jp-Notebook-merge .jp-Merge-conflict {
  background-color: var(--jp-merge-both-color2);
}

.jp-Notebook-merge .CodeMirror-merge-pane.CodeMirror-merge-pane-local.jp-mod-missing {
  background-color: var(--jp-merge-local-color2);
}

.jp-Notebook-merge .CodeMirror-merge-pane.CodeMirror-merge-pane-remote.jp-mod-missing {
  background-color: var(--jp-merge-remote-color2);
}

.jp-Notebook-merge .jp-Cell-merge.jp-mod-todelete > .p-Widget:not(.jp-Merge-cellHeader) {
  opacity: 0.5;
  filter: alpha(opacity = 50);
}

.jp-Notebook-merge .jp-Cell-merge.jp-mod-todelete .jp-Merge-cellHeader {
  background-color: var(--jp-merge-both-color2);
}

.jp-Cell-merge.jp-mod-clearoutputs .jp-Cellrow-outputs {
  display: none;
}

.jp-Notebook-merge .jp-Cellrow-outputs .jp-OutputArea {
  border: #666 solid 1pt;
}

.jp-Notebook-merge .jp-Cellrow-outputs .p-FlexPanel:last-of-type .jp-OutputArea {
  margin-top: 5px;
}

.jp-Notebook-merge .jp-Cellrow-outputs.jp-conflicted-outputs .jp-CollapsiblePanel-header {
  background-color: var(--jp-merge-both-color2)
}

.jp-Notebook-merge .jp-Cellrow-outputs.jp-conflicted-outputs .jp-CollapsiblePanel-header {
  background-color: var(--jp-merge-both-color2);
  border-top: var(--jp-merge-both-color1) solid 1pt;
}

.jp-Notebook-merge .jp-Cellrow-outputs.jp-conflicted-outputs {
    border: var(--jp-merge-both-color1) solid 1pt;
}

.jp-conflicted-outputs-button {
  display: inline;
  margin-left: 20px;
}

.jp-Notebook-merge .jp-Diff-renderedOuput .jp-Merge-local {
  background-color: var(--jp-merge-local-color2);
}

.jp-Notebook-merge .jp-Diff-renderedOuput .jp-Merge-remote {
  background-color: var(--jp-merge-remote-color2);
}

.jp-Notebook-merge .jp-Cellrow-outputs .jp-OutputArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  min-height: 2em;
}

.jp-Notebook-merge .jp-Merge-oneway-local .jp-Cellrow-outputs,
.jp-Notebook-merge .jp-Merge-oneway-remote .jp-Cellrow-outputs {
  border-top: var(--jp-nbdime-output-color1) solid 1pt;
}

.jp-Notebook-merge .jp-Output:first-child {
  margin-top: 0;
}

.jp-Merge-notebook-controls {
  justify-content: flex-end;
  margin-bottom: 10px;
  padding: 5px;
  background-color: var(--jp-layout-color2);
  border: solid 1px var(--jp-ui-font-color2);
}

.jp-Merge-notebook-controls:empty {
  display: none;
}

.jp-Notebook-merge label[disabled] {
  color: var(--jp-ui-font-color3);
}

/* This fixes an alignment issue between gutter background
 and gutter elements, but not sure *why* this is needed.
 Might be fixing a symptom rather than the cause, but it
 works for now.
 */
.jp-Notebook-merge .CodeMirror-gutter-wrapper {
  margin-left: calc(-1 * var(--jp-code-padding));
}


