:root {
  --codemirror-border: var(--jp-border-width) solid
    var(--jp-cell-editor-border-color);

  --jp-nbdime-output-color1: rgba(0, 141, 255, 0.7);
  --jp-nbdime-output-color2: rgba(0, 141, 255, 0.5);
  --jp-nbdime-output-color3: rgba(0, 141, 255, 0.3);

  --jp-diff-added-color0: rgba(0, 200, 20, 0.6);
  --jp-diff-added-color1: rgba(0, 200, 20, 0.3);
  --jp-diff-added-color2: rgba(0, 200, 20, 0.3);

  --jp-diff-deleted-color0: rgba(240, 20, 0, 0.55);
  --jp-diff-deleted-color1: rgba(255, 20, 0, 0.3);
  --jp-diff-deleted-color2: rgba(255, 20, 0, 0.3);

  --jp-merge-local-color1: #cbcbf8;
  --jp-merge-local-color2: #ececff;
  --jp-merge-local-color3: #e6e6ff;

  --jp-merge-remote-color1: #beb;
  --jp-merge-remote-color2: #dfd;
  --jp-merge-remote-color3: #d8f9d8;

  --jp-merge-both-color1: #f88888;
  --jp-merge-both-color2: #ffdddd;

  --jp-merge-either-color1: #aee;
  --jp-merge-either-color2: #cff4f4;
}
