*.pyc
*~
*.egg-info
__pycache__
.ipynb_checkpoints
docs/build
htmlcov
.coverage
.cache

.spyderproject
**/.vscode/
nbdime/webapp/node_modules/
nbdime/webapp/build/
nbdime/webapp/test/build/

nbdime/webapp/static/*bundle.js*
