*.pyc
*~
*.egg-info
__pycache__
.ipynb_checkpoints
docs/build
htmlcov
dist
MANIFEST
.coverage
.cache


.spyderproject
**/.vscode/
**/node_modules/
nbdime/webapp/test/build/
nbdime/webapp/build/
nbdime-web/lib/
nbdime-web/coverage/
nbdime-web/test/build/

nbdime/webapp/static/build/
