

body {
  --jp-layout-color3: white;
  overflow: scroll !important;
}


/* Alternative for showing single cell when cells are equal */
.jp-Diff-unchanged {
  margin-left: 10%;
  width: 80%;
}

#nbdime-header {
  margin: auto;
  width: 90%;
  margin-bottom: 20px;
}

#nbdime-header-banner {
  margin-top: 10px;
}

.nbdime-header-button{
  display: inline-block;
  margin-right: 10px;
}
