

.jp-Notebook-diff {
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 0;
}

.nbdime-Diff-tool #nbdime-header-base {
  display: inline-block;
  width: 50%;
  background-color: var(--jp-diff-deleted-color1);
}

.nbdime-Diff-tool #nbdime-header-remote {
  display: inline-block;
  width: 49%;
  background-color: var(--jp-diff-added-color1);
}
