


.jp-Notebook-diff {
  width: 90%;
  margin: auto;
}

#nbdime-header {
  margin: auto;
  width: 90%;
  margin-bottom: 20px;
}

#nbdime-header-base {
  display: inline-block;
  width: 50%;
  background-color: #f8cbcb
}

#nbdime-header-remote {
  display: inline-block;
  width: 49%;
  background-color: #a6f3a6;
}

.nbdime-header-button {
  display: inline-block;
  margin-right: 10px;
}

#nbdime-header-banner {
  margin-top: 10px;
}

