

.jp-Notebook-merge {
  width: 90%;
  margin: auto;
}


/* Alternative for showing single cell when cells are equal */
.jp-Diff-unchanged {
  margin-left: 25%;
  width: 50%;
}

.jp-Metadata-diff {
  margin-bottom: 20px;
  border: solid black thin;
}

.jp-Cell-merge {
  margin-bottom: 20px;
  border-top: solid #ccc 1px;
}

.CodeMirror-merge-pane-local,.CodeMirror-merge-pane-remote,.CodeMirror-merge-pane-base {
  width: 30%;
}

.CodeMirror-merge-pane-final {
  width: 940%;
  border-top: solid #ddd 1px;
}

.jp-Notebook-merge .jp-Output-result img {
  max-width: 100%;
}

.jp-Notebook-merge .CodeMirror-merge-spacer { background-color: #eee; }

.jp-Notebook-merge .CodeMirror-merge-r-chunk { background-color: #ffecec; }
.jp-Notebook-merge .CodeMirror-merge-r-chunk-start { border-top: 1px solid #f8cbcb; }
.jp-Notebook-merge .CodeMirror-merge-r-chunk-end { border-bottom: 1px solid #f8cbcb; }
.jp-Notebook-merge .CodeMirror-merge-r-connect { fill: #ffecec; stroke: #f8cbcb; stroke-width: 1px; }
.jp-Notebook-merge .CodeMirror-line .CodeMirror-merge-r-inserted { background-color: #f8cbcb }

.jp-Notebook-merge .CodeMirror-merge-l-chunk { background-color: #ececff; }
.jp-Notebook-merge .CodeMirror-merge-l-chunk-start { border-top: 1px solid #cbcbf8; }
.jp-Notebook-merge .CodeMirror-merge-l-chunk-end { border-bottom: 1px solid #cbcbf8; }
.jp-Notebook-merge .CodeMirror-merge-l-connect { fill: #ececff; stroke: #cbcbf8; stroke-width: 1px; }
.jp-Notebook-merge .CodeMirror-line .CodeMirror-merge-l-inserted { background-color: #cbcbf8 }

.CodeMirror-merge-pane-base .CodeMirror-line .CodeMirror-merge-m-deleted,
.CodeMirror-merge-pane-base .CodeMirror-line .CodeMirror-merge-l-deleted,
.CodeMirror-merge-pane-base .CodeMirror-line .CodeMirror-merge-r-deleted {
  background-color: initial;
  color: #b00
}

.jp-Notebook-merge .CodeMirror-merge-gap {
  height: 50%;
  width: 6%;
}

.CodeMirror-merge-clear + .CodeMirror-merge-gap {
  border-top: solid #ddd 1px;
}

.jp-Notebook-merge .CodeMirror-merge-pane-remote,
.jp-Notebook-merge .CodeMirror-merge-pane-base,
.jp-Notebook-merge .CodeMirror-merge-pane-final {
  position: relative;
  left: 6%;
}

.jp-Merge-oneway-local,.jp-Merge-oneway-remote {
  width: 75%;
}

.jp-Merge-oneway-remote {
  margin-left: 25%;
}

.jp-Merge-oneway-local .CodeMirror {
  background-color: #ececff;
}

.jp-Merge-oneway-remote .CodeMirror {
  background-color: #ffecec;
}

.jp-Diff-deleted .CodeMirror {
  background-color: #ffecec;
}

.jp-Diff-added .CodeMirror {
  background-color: #dbffdb;
}

#nbdime-header {
  margin: auto;
  width: 90%;
  margin-bottom: 20px;
}

#nbdime-header-base {
  display: inline-block;
  width: 50%;
  background-color: #ccc
}

#nbdime-header-remote {
  display: inline-block;
  width: 49%;
  background-color: #ccc
}

#nbdime-close {
  display: block;
}
