
.jp-CollapsiblePanel {
    border: var(--jp-nbdime-output-color1) solid 1pt;
}
/* 'Collapse' stacked panel borders */
.jp-CollapsiblePanel + .jp-CollapsiblePanel {
    border-top: none;
}

button.jp-CollapsiblePanel-header-icon {
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;

    height: 1em;
    width: 2em;
    font-size: var(--jp-ui-font-size1);
    line-height: var(--jp-private-toolbar-height);
    margin-top: .1em;
    font-weight: 500;

    color: var(--jp-ui-font-color1);
    background-color: transparent;

    border: none;
    border-radius: 2px;

    text-decoration: none;
    transition: background-color 0.1s ease;
}

/* Remove text border, as we don't use button text for icon */
button.jp-CollapsiblePanel-header-icon::-moz-focus-inner {
    border: none;
}


.jp-CollapsiblePanel-header-icon-opened {
    background-image: var(--jp-icon-caretup);
}

.jp-CollapsiblePanel-header-icon-closed {
    background-image: var(--jp-icon-caretdown);
}

.jp-CollapsiblePanel-header {
    padding-top: .2em;
    padding-bottom: .2em;
    background-color: var(--jp-nbdime-output-color3);
    padding-left: 1em;
    padding-right: 2em;
    color: var(--jp-ui-font-color1);
}

.jp-CollapsiblePanel-container {
    overflow: hidden;
}

.jp-CollapsiblePanel-slider {
	/* complete liquid height based on the parent's height!! */
    height:100%;

    /* only transition on transform properties which are hardware accelerated = way better performances */
	-webkit-transition: -webkit-transform .3s ease, height 0.3s;
       -moz-transition:    -moz-transform .3s ease, height 0.3s;
        -ms-transition:     -ms-transform .3s ease, height 0.3s;
            transition:         transform .3s ease, height 0.3s;
}

.jp-CollapsiblePanel-opened {
    /* visible */
    -webkit-transform: translate(0, 0%);
       -moz-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
            transform: translate(0, 0%);
    height: 100%;
    border-top: var(--jp-nbdime-output-color1) solid 1pt;
}

.jp-CollapsiblePanel-closed {
    /* completely offscreen */
    -webkit-transform: translate(0, -100%);
       -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
    height: 0;
}
