
.nbdime-Widget {
  display: flex;
  flex-direction: column;
}

.nbdime-root {
  padding: var(--jp-notebook-padding);
  min-width: 50px;
  min-height: 50px;
  outline: none;
  overflow: auto;
  background: var(--jp-layout-color0);
}


/* Header syling */

.jp-fa-tabIcon {
  padding-top: 6px;
}

.nbdime-Diff {
  border-bottom: var(--jp-border-width) solid var(--jp-toolbar-border-color);
  box-shadow: var(--jp-toolbar-box-shadow);
  background: var(--jp-toolbar-background);
  color: var(--jp-ui-font-color1);
  flex: 0 0 auto;
  padding: 2px;
  z-index: 1;
}

.nbdime-header-buttonrow > * {
  padding-left: 8px;
  padding-right: 8px;
}

.nbdime-Diff .nbdime-header-base {
  display: inline-block;
  width: calc(50% - 8px);
  background-color: var(--jp-diff-deleted-color0);
  padding: 0px 4px;
}

.nbdime-Diff .nbdime-header-remote {
  display: inline-block;
  width: calc(49% - 8px);
  background-color: var(--jp-diff-added-color0);
  padding: 0px 4px;
}

.nbdime-Diff .nbdime-header-local {
  display: none;
  width: calc(49% - 8px);
  padding: 0px 4px;
}



/* Hiding unchanged cells if told to */
.nbdime-root.jp-mod-hideUnchanged .jp-Cell-diff.jp-Diff-unchanged {
  display: none;
}

/* Show a marker with the number of cells hidden before */
.nbdime-root.jp-mod-hideUnchanged .jp-Cell-diff[data-nbdime-NCellsHiddenBefore]::before {
  content: attr(data-nbdime-NCellsHiddenBefore) " unchanged cell(s) hidden";
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #eee;
  border-top: solid #ccc 1px;
  border-bottom: solid #ccc 1px;
  text-align: center;
}

/* Show a marker with the number of cells hidden after (for hidden cells at end) */
.nbdime-root.jp-mod-hideUnchanged .jp-Cell-diff[data-nbdime-NCellsHiddenAfter]::after {
  content: attr(data-nbdime-NCellsHiddenAfter) " unchanged cell(s) hidden";
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #eee;
  border-top: solid #ccc 1px;
  border-bottom: solid #ccc 1px;
  text-align: center;
}

.nbdime-root.jp-mod-hideUnchanged .jp-Cell-diff[data-nbdime-NCellsHiddenBefore] {
  padding-top: 40px;
}

.nbdime-root.jp-mod-hideUnchanged .jp-Cell-diff[data-nbdime-NCellsHiddenAfter] {
  padding-bottom: 40px;
}
