


.jp-Notebook-merge .jp-Metadata-diff {
  margin-bottom: 20px;
}

.jp-Notebook-merge .jp-Metadata-diff .jp-CollapsiblePanel {
  border: solid black thin;
}

.jp-Notebook-merge .jp-Cell-merge {
  margin-bottom: 20px;
  border-top: solid #ccc 1px;
  background-color: white;
}

.jp-Notebook-merge .CodeMirror-merge-pane-local,
.jp-Notebook-merge .CodeMirror-merge-pane-remote,
.jp-Notebook-merge .CodeMirror-merge-pane-base {
  width: 33%;
}

.jp-Notebook-merge .CodeMirror-merge-pane-final {
  width: 100%;
  border-top: solid #ddd 1px;
}

.jp-Notebook-merge .jp-Output-result img {
  max-width: 100%;
}

.jp-Notebook-merge .jp-Merge-cellHeader {
  display: flex;
  background-color: #f7f7f7; /* Matches CodeMirror gutter */
}

.jp-Notebook-merge .jp-Merge-cellHeader > .p-Widget {
  margin-right: .5em;
}

.jp-Notebook-merge .jp-Merge-cellHeader-title {
  flex-grow: 1;
}

.jp-Notebook-merge .jp-DragWidget-dragHandle {
  height: 18px;
  width: 12px;
}

.jp-Notebook-merge .jp-Output.p-mod-drag-image {
  background-color: white;
  border: solid gray thin;
}

.jp-Notebook-merge .CodeMirror-merge-pane-deleted,
.jp-Notebook-merge .CodeMirror-merge-pane-added {
  width: 100%;
}

.jp-Notebook-merge .CodeMirror-merge-spacer { background-color: #eee; }

.jp-Notebook-merge .CodeMirror-merge-r-chunk { background-color: #dfd; }
.jp-Notebook-merge .CodeMirror-merge-r-chunk-start,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-start-remote { border-top: 1px solid #beb; }
.jp-Notebook-merge .CodeMirror-merge-r-chunk-end,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-remote { border-bottom: 1px solid #beb; }
.jp-Notebook-merge .CodeMirror-merge-r-connect { fill: #dfd; stroke: #beb; stroke-width: 1px; }
.jp-Notebook-merge .CodeMirror-line .CodeMirror-merge-r-inserted { background-color: #beb; }

.jp-Notebook-merge .CodeMirror-merge-r-chunk-end-empty + .CodeMirror-linewidget .CodeMirror-merge-spacer,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-remote-empty + .CodeMirror-linewidget .CodeMirror-merge-spacer {
  border-bottom: 1px solid #beb;
  background-color: #d8f9d8;
}

.jp-Notebook-merge .CodeMirror-merge-l-chunk { background-color: #ececff; }
.jp-Notebook-merge .CodeMirror-merge-l-chunk-start,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-start-local { border-top: 1px solid #cbcbf8; }
.jp-Notebook-merge .CodeMirror-merge-l-chunk-end,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-local { border-bottom: 1px solid #cbcbf8; }
.jp-Notebook-merge .CodeMirror-merge-l-connect { fill: #ececff; stroke: #cbcbf8; stroke-width: 1px; }
.jp-Notebook-merge .CodeMirror-line .CodeMirror-merge-l-inserted { background-color: #cbcbf8 }

.jp-Notebook-merge .CodeMirror-merge-l-chunk-end-empty + .CodeMirror-linewidget .CodeMirror-merge-spacer,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-local-empty + .CodeMirror-linewidget .CodeMirror-merge-spacer {
  border-bottom: 1px solid #cbcbf8;
  background-color: #e6e6ff;
}


.jp-Notebook-merge .CodeMirror-merge-l-chunk.CodeMirror-merge-r-chunk { background: #ffdddd; }
.jp-Notebook-merge .CodeMirror-merge-l-chunk-start.CodeMirror-merge-r-chunk-start { border-top: 1px solid #f88888; }
.jp-Notebook-merge .CodeMirror-merge-l-chunk-end.CodeMirror-merge-r-chunk-end { border-bottom: 1px solid #f88888; }

.jp-Notebook-merge .CodeMirror-merge-l-chunk-end-empty.CodeMirror-merge-r-chunk-end-empty + .CodeMirror-linewidget .CodeMirror-merge-spacer,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-remote-empty.CodeMirror-merge-m-chunk-end-local-empty + .CodeMirror-linewidget .CodeMirror-merge-spacer {
  border-bottom: 1px solid #f88888;
  background-color: #ffdddd;
}

.jp-Notebook-merge .CodeMirror-merge-r-chunk-end-empty,
.jp-Notebook-merge .CodeMirror-merge-l-chunk-end-empty,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-empty,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-either-empty,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-remote-empty,
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-local-empty,
.jp-Notebook-merge .CodeMirror pre.CodeMirror-line {
  z-index: 3;
}


.jp-Notebook-merge .CodeMirror-merge-m-chunk-start-either { border-top: 1px solid #aee; }
.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-either { border-bottom: 1px solid #aee }

.jp-Notebook-merge .CodeMirror-merge-m-chunk-end-either-empty + .CodeMirror-linewidget .CodeMirror-merge-spacer {
  border-bottom: 1px solid #aee;
  background-color: #cff4f4;
}

.jp-Notebook-merge .CodeMirror-merge-pane-base .CodeMirror-line .CodeMirror-merge-m-deleted,
.jp-Notebook-merge .CodeMirror-merge-pane-base .CodeMirror-line .CodeMirror-merge-l-deleted,
.jp-Notebook-merge .CodeMirror-merge-pane-base .CodeMirror-line .CodeMirror-merge-r-deleted {
  background-color: initial;
  color: #b00
}

.jp-Notebook-merge .CodeMirror-gutter-wrapper {
  top: 0;
  bottom: 0;
}

.jp-Notebook-merge .CodeMirror-linenumber {
  bottom: 0;
}

.jp-Notebook-merge .jp-Merge-oneway-local,
.jp-Notebook-merge .jp-Merge-oneway-remote {
  width: 75%;
}

.jp-Notebook-merge .jp-Merge-oneway-remote {
  margin-left: 25%;
}

.jp-Notebook-merge .jp-Merge-oneway-local .CodeMirror {
  background-color: #ececff;
}

.jp-Notebook-merge .jp-Merge-oneway-remote .CodeMirror {
  background-color: #dfd;
}

.jp-Notebook-merge .jp-Diff-deleted .CodeMirror {
  background-color: #ffecec;
}

.jp-Notebook-merge .jp-Diff-added .CodeMirror {
  background-color: #dbffdb;
}


.jp-Notebook-merge .jp-Merge-gutter-picker {
  width: 16px;
  text-align: right;
}

.jp-Notebook-merge .jp-Merge-gutter-conflict {
  width: 16px;
  color: #b00;
  text-align: right;
}

.jp-Notebook-merge .jp-Merge-conflict {
  background-color: #ffdddd;
}

.jp-Notebook-merge .CodeMirror-merge-pane.jp-mod-missing {
  background-color: #ffdddd;
}

.jp-Notebook-merge .jp-Cell-merge.jp-mod-todelete > .p-Widget:not(.jp-Merge-cellHeader) {
  opacity: 0.5;
  filter: alpha(opacity = 50);
}

.jp-Notebook-merge .jp-Cell-merge.jp-mod-todelete .jp-Merge-cellHeader {
  background-color: #ffdddd;
}



.jp-Notebook-merge .jp-Cellrow-outputs .jp-OutputArea {
  border: #666 solid 1pt;
}

.jp-Notebook-merge .jp-Cellrow-outputs .p-FlexPanel:last-of-type .jp-OutputArea {
  margin-top: 5px;
}
